<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <label>작성한 글 목록</label>
    <div>
        <table>
            <thead>
            <tr>
                <th>타이틀</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}" >
                <td> <a th:href="@{'/view'(bno=${board.bno})}" th:text="${board.title}"></a> </td>
                <td th:text="${board.writer}"></td>
                <td th:text="${board.regdate}"></td>
                <td th:text="${board.moddate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>